*{
    margin: 0px;
    padding: 0px;
   
}
nav{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
 
    width: 100%;
    height: 80px;
    border: 2px solid black;
   
}

.logo1{
    display: flex;
    align-items: center;
    width: 140px;
    height: 80px;
    /* margin-left: 40px;
    margin-top: 10px; */
    
}
.anchr{
    display: flex;
}

 .anch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
 }

a{
    text-decoration: none;
    color: rgb(42, 38, 38);
}
.table{
    font-size: 10px;

}
.button{
    font-size: 20px;
    padding: 10px 30px 10px 30px ;
    width: 250px;
    border: 1px solid orange;
    border-radius: 50px;
    background-color: orange;
    color: antiquewhite;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.div1{
   
background-image:url(image/food66.jpg) ;
 width:1500px;
    height: 600px;
    font-size: 40px;
    font-weight: 800px;
    text-align: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;   
    background-position: center;
    /* background-attachment: fixed; */
    background-blend-mode: darken;   
    background-color: rgb(0,0,0,0.527);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
align-items: center;
padding: 10px;

}
.heading{
    font-size: 60px;
    margin-bottom: 20px;
   margin-top: 300px;
  
}
.text{
    font-size: 15px;
    width: 500px;
}
.but{
    background-color: rgb(255, 123, 0);
    margin-left: 10px;
    width: 200px;
    height: 50px;
    margin-top: 30px; 
border-radius: 30px;
border: none;
}
.anc{
    display: inline-block;
    text-align: center;
}
.facebooklogo{
    height: 30px;
    width: 30px;
    margin-left: -30px;
}
.tastes{
    margin-left: 650px;
    margin-top: 50px;    
}
.box{
    
    margin: 90px;
   padding: 0px;
   height: 400px;
}
.box1{
    border: 2px solid black;
    display: inline-block;
    width: 400px;
    height: 150px;
  margin: 15px;
  margin-top:20px;

}
.box2{

    width: 100%;
    height: 200px;
}
.headings{
    margin-left: 95px;
    font-size: 20px;
    font-weight: 800;
    margin-top: -65px;
}
.texts{
   margin-left: 95px;
}
.imgfood{
    margin-top: 40px;
    margin-left: 20px;
}

.box1:hover{
    background-color: rgb(255, 188, 2);
    color: rgb(255, 247, 242);
}
 .texts{
    color:rgb(26, 25, 23);
}
.read{
    border-radius: 20px ;
    background-color: orangered;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 550px;
    border:none;
}
.Recipes{margin-top: 50px;
    font-size: 30px;
    font-weight: 800;
    margin-left: 690px;
}

.recimg{
    margin-left: 150px;
    width: 1400px;
    height: 500px;
    margin-top: 30px;
}
.resimg{
    width: 200px;
    height: 200px;
}
.reads{
    border-radius: 20px ;
    background-color: orangered;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 500px;
    border:none;
    margin-top: 30px;
}
.blog{
    margin-left: 715px;
    margin-top: 50px;
}
.box4{
    margin-top: 90px;
    margin-left: 300px;
    width: 1000px;
    height: 150px;
}
.boxx{
    margin-left: 100px;
    font-size: 25px;
    color: rgb(8, 8, 8);
}
.note{
    margin-top: -30px;
    margin-left: 100px; 
}
.cheflog{
    margin-left: 10px;
    margin-top: -10px;
}
.readss{
    border-radius: 20px ;
    background-color: rgb(255, 166, 0);
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 370px;
    border:none;
    margin-top: 80px;
}
.box5{
    background-color:orange ;
    height: 400px;
    display: flex;
    color: white ;
    
}
.imgss{
    margin-top: 150px;
    margin-left: 90px;
   
}

.nam{
   
    margin-top: -140px;
    margin-left: 400px;
    font-size: 18px;
    font-weight: 800;
}
.name{
    margin-left: 400px;
    margin-top: 20px;
    font-size: 15px;
}
.nams{
    margin-left: 190px;
    margin-top: 110px;
    font-size: 18px;
    font-weight: 800;
}
.names{
    margin-left: 190px;
    margin-top: 20px;
    font-size: 15px;
}
.soc{
    margin-left: 190px;
    margin-top: 110px;
    font-size: 18px;
    font-weight: 800;
}

.Social{
    margin-left: 190px;
    margin-top: 20px;
    
}
.Contact{
    margin-left: 190px;
    margin-top: 110px;
    font-size: 18px;
    font-weight: 800;

}
.Contacts{
    margin-left: 190px;
    margin-top: 15px;
    border-radius: 20px;
border: none;
height: 25px;
width: 200px;
}
.clickb{
    background-color: red;
    border-radius: 20px;
    border: none;
    height: 25px;
    width: 80px;
}
.divlast{
    background-color: orangered;
    width: 100%;
    height: 50px;
    
}
.designed{
    color: white;
    font-size: 15px;
    margin-left: 680px;
    padding: 15px;
   
   
}
.box4:hover{
    background-color: rgb(255, 167, 5);
    color: rgb(255, 247, 242);
    
}
.boxx:hover{
    color: white;
}


